 .blog-list
 {
    
    margin: 8% 0;
    display: flex; 
    background-color: rgb(255, 211, 218); 
    padding: 15px 0; 
 }

 .blog-list .navItems
 {
    margin: 0 0.8rem;
 }

 .blog-list a
 {
    text-decoration: none;
    color: black;
    font-weight: 600;
 }